:root {
  // Цвета шрифтов
  --dark-txt-color: #131313;
  --light-txt-color: #fcfcfc;
  --contacts-hover-txt-color: #d6936d;
  --footer-copyright-txt-color: #7a7a7a;

  // Цвета фона
  --dark-bg-color: #84a178;
  --light-bg-color: #fcfcfc;
  // Карточки с продуктами
  --product-first-color: #aec6a5;
  --product-second-color: #efd478;
  --product-third-color: #d6936d;
  // Ингредиенты в модалке
  --modal-ingredients-color: #9cbe8f;

  // Дополнительные цвета
  --default-accent-color: #f8d24e;
  --hover-accent-color: #0a8817;
  --disabled-accent-color: #ababab;

  // Шрифты
  --main-font: 'Montserrat', sans-serif;
  --secondary-font: 'Seymour One', sans-serif;

  // Анимация
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* MOBILE */
@media screen and (min-width: 320px) {
  .hero {
    background-color: var(--dark-bg-color);
    height: 454px;
  }

  .container.container-hero {
    position: relative;
    height: 454px;
    padding-top: 50px;
    padding-bottom: 0;

    background-image: url(../images/hero/dots-mobile320.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 320px 50px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .container-hero {
      background-image: url(../images/hero/dots-mobile320@2x.png);
    }
  }

  .hero-header {
    width: 247px;
    margin-bottom: 32px;
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 26px;
    line-height: 1.26;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--light-txt-color);
  }

  .hero-header-word {
    display: block;
    font-size: 33px;
    line-height: 1.26;
    letter-spacing: 0.04em;
  }

  .hero-button-list {
    display: flex;
    column-gap: 12px;
    align-items: center;
  }

  .hero-link-products {
    display: block;
    padding: 11px 26px;
    color: #000;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    border: 2px solid var(--default-accent-color);
    border-radius: 8px;
  }

  .hero-link-products:hover,
  .hero-link-products:focus {
    color: #000;
    border: 2px solid var(--hover-accent-color);
  }

  .hero-link-products:disabled {
    color: var(--disabled-accent-color);
  }

  .hero-link-how {
    display: block;
    padding: 0;
    color: var(--default-accent-color);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    text-decoration: underline;
  }

  .hero-link-how:hover {
    color: var(--hover-accent-color);
  }

  .hero-link-how:focus {
    color: var(--light-txt-color);
  }

  .hero-link-how:disabled {
    color: var(--disabled-accent-color);
  }

  .hero-info-cont {
    display: none;
  }

  .hero-2ndinfo-cont {
    display: none;
  }

  .hero-ice-cream-img {
    position: absolute;
    width: 177px;
    bottom: 0;
    right: 60px;
  }
}

/* ICE-CREAM */

@media screen and (min-width: 480px) {
  .hero {
    height: 357px;
  }

  .container.container-hero {
    height: 357px;
    padding-top: 50px;
    padding-bottom: 0;

    background-image: url(../images/hero/dots-mobile.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 330px 52px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .container-hero {
      background-image: url(../images/hero/dots-mobile@2x.png);
    }
  }

  .hero-ice-cream-img {
    position: absolute;
    width: 218px;
    bottom: 0;
    right: 20px;
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  .container.container-hero {
    position: relative;
    padding-top: 14px;
    padding-bottom: 12px;

    background-image: url(../images/hero/dots-tablet.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 768px 68px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .container-hero {
      background-image: url(../images/hero/dots-tablet.@2x-min.png);
    }
  }

  .hero-ice-cream-img {
    width: 268px;
    bottom: 0;
    right: 92px;
  }

  .hero-header {
    margin-bottom: 24px;
  }

  .hero-button-list {
    margin-bottom: 12px;
  }

  .hero-info-cont {
    display: block;
    position: absolute;
    top: 28px;
    right: 32px;
  }

  .hero-info-cont-wrap {
    font-size: 8px;
    color: var(--light-txt-color);
    text-align: right;
  }

  .hero-info-cont-wrap:not(:last-child) {
    margin-bottom: 20px;
  }

  .hero-info-cont-number {
    display: block;
    font-weight: 900;
    font-size: 28px;
    color: var(--dark-txt-color);
    margin-bottom: 4px;
  }

  .hero-2ndinfo-cont {
    display: flex;
    align-items: center;
    column-gap: 32px;
  }

  .hero-plate-image {
    width: 152px;
  }

  .hero-2ndinfo-cont-text {
    width: 139px;
    overflow: hidden;
  }

  .hero-2ndinfo-text {
    font-size: 12px;
    line-height: 1.4;
    color: var(--light-txt-color);
    margin-bottom: 12px;
  }

  #herotext {
    transform: translate(-120%, 0);
    opacity: 0;
    transition: transform 1s ease-in-out;
  }

  #herotext.show {
    transform: translate(0, 0);
    opacity: 1;
  }

  .hero-arrow-link {
    color: var(--light-txt-color);
  }

  .hero-arrow-svg {
    fill: currentColor;
  }
}

/* DESKTOP */
@media screen and (min-width: 1200px) {
  .hero {
    height: 591px;
  }

  .container.container-hero {
    position: relative;
    height: 591px;
    padding-top: 45px;
    padding-bottom: 65px;

    background-image: url(../images/hero/dots-desktop.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 1200px 384px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .container-hero {
      background-image: url(../images/hero/dots-desktop@2x.png);
    }
  }

  .hero-header {
    width: 367px;
    margin-bottom: 28px;
  }

  .hero-header {
    font-size: 38px;
  }

  .hero-button-list {
    margin-bottom: 42px;
  }

  .hero-link-products:hover {
    border: 2px solid var(--hover-accent-color);
  }

  .hero-link-products:focus {
    color: var(--light-txt-color);
    border: 2px solid var(--hover-accent-color);
  }

  .hero-link-products {
    font-size: 14px;
  }

  .hero-link-how {
    font-size: 14px;
  }

  .hero-info-cont {
    top: 56px;
    right: 16px;
  }

  .hero-info-cont-wrap {
    font-size: 14px;
  }

  .hero-info-cont-number {
    font-size: 46px;
  }

  .hero-2ndinfo-cont {
    column-gap: 16px;
  }

  .hero-plate-image {
    width: 225px;
  }

  .hero-2ndinfo-cont-text {
    width: 200px;
    margin-bottom: 0;
  }

  .hero-2ndinfo-text {
    font-size: 14px;
    margin-bottom: 24px;
  }

  .hero-ice-cream-img {
    width: 456px;
    bottom: 0;
    right: 92px;
  }
}
