.products{
    background-image: url(../images/background/background-mobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-bottom: 60px;
}
.container-products-conttainer {
    margin: 0 auto;
}
.product-label{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    padding-top: 61px;
    padding-bottom: 148px;
}
.products-button{
    border: none;
    background-color: transparent;
    margin-bottom: 0;
    height: 16px;
    margin-bottom: 16px;
}
.arrow-svg{
    width: 40px;
    height: 16px;
}
.products-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 168px;
    border-radius: 24px;
    position: relative;
}
.products-ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 24px;
    width: 85vw;
}
.milkshakes-h3{
    margin-top: 123px;
}
.ice-coffee-h3{
    margin-top: 123px;
}
.ice-cream-h3{
    margin-top: 123px;
}
.ice-coffee-p {
    margin-top: 40px;
    margin-bottom: 61px;
    margin-right: 40px;
    margin-left: 40px;
    width: 200px;
}
.ice-cream-p{
    margin-top: 40px;
    margin-bottom: 109px;
    margin-right: 40px;
    margin-left: 40px;
    width: 200px;
}
.milkshakes-p{
    margin-top: 40px;
    margin-bottom: 81px;
    margin-right: 40px;
    margin-left: 40px;
    width: 200px;
}
// fonts
.products-ul li p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.78;
    letter-spacing: 0.04em;
    text-align: center;    
    color: var(--dark-txt-color);
}
.products-ul li h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--dark-txt-color);
}
label{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: center;
    color: var(--dark-txt-color);
}
.h2products{
    font-family: 'Seymour One', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--dark-txt-color);
    text-transform: uppercase;
}
// fonts
.ice-cream-li {
    background-color: var(--product-first-color);
    position: relative;
}
.ice-coffee-li{
    background-color: var(--product-second-color);
    position: relative;
}
.milkshakes-li{
    background-color: var(--product-third-color);
    position: relative;
}
.label{
    display: flex;
    align-items: center;
    justify-content: center;
}
// buttons
.ice-cream-button{
    background-color: transparent;
    border: none;
}
.ice-coffee-button{
    background-color: transparent;
    border: none;
}
.milkshakes-button{
    background-color: transparent;
    border: none;
}

// buttons
// before
.ice-cream-li::before{
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    top: -100;
    z-index: 2;
    background-image: url(../images/products/ice-cream-mob+tab.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
}
.ice-coffee-li::before{
    content: '';
    background-image: url(../images/products/ice-coffee-mob+tab.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    top: -100;
    z-index: 2;
}
.milkshakes-li::before{
    content: '';
    background-image: url(../images/products/milkshakes-mob+tab.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    top: -100;
    z-index: 2;
}
// before

// shadow
.shadow-ice-cream{
    width: 200px;
    height: 200px;
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
    box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
    border-radius: 50%;
    position: absolute;
    top: -89px;
    overflow: hidden;
}
.shadowiice-coffee{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
    position: absolute;
    top: -89px;
    overflow: hidden;
}
.shadow-milkshakes{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: -89px;
    overflow: hidden;
}
// shadow


// media
@media screen and (min-width: 480px) {
    .container-products-conttainer{
        margin: 0 auto;
    }
    .products-ul li{
        width: 320px;
    }
    .ice-coffee-p {
        margin-top: 40px;
        margin-bottom: 69px;
        margin-right: 60px;
        margin-left: 60px;
        width: 200px;
    }
    .ice-cream-p{
        margin-top: 40px;
        margin-bottom: 114px;
        margin-right: 60px;
        margin-left: 60px;
        width: 200px;
    }
    .milkshakes-p{
        margin-top: 40px;
        margin-bottom: 89px;
        margin-right: 70px;
        margin-left: 70px;
        width: 200px;
    }
    .milkshakes-h3{
        margin-top: 126px;
    }
    .ice-coffee-h3{
        margin-top: 126px;
    }
    .ice-cream-h3{
        margin-top: 126px;
    }
}
@media screen and (min-width: 768px) {
    .container-products-conttainer {
        margin: 0 auto;
    }
    .products{
        background-image: url(../images/background/background-tablet.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .products-ul{
        display: flex;
        flex-direction: row;
        gap: 16px;
        border-radius: 16px;
    }
    .products-ul li{
        width: 224px;
    }
    .products-button{
        margin-bottom: 12px;
    }
    .ice-coffee-p {
        margin-top: 40px;
        margin-bottom: 58px;
        margin-right: 26px;
        margin-left: 26px;
        width: 172px;
    }
    .h2products{
        font-size: 34px;
        line-height: 1.2;
    }
    .arrow-svg{
        margin-bottom: 12px;
    }
    .ice-cream-p{
        margin-top: 40px;
        margin-bottom: 89px;
        margin-right: 26px;
        margin-left: 26px;
        width: 172px;
        height: 144px;
    }
    .milkshakes-p{
        margin-top: 40px;
        margin-bottom: 83px;
        margin-right: 26px;
        margin-left: 26px;
        width: 172px;
    }
    .milkshakes-h3{
        margin-top: 108px;
    }
    .ice-coffee-h3{
        margin-top: 108px;
    }
    .ice-cream-h3{
        margin-top: 108px;
    }
    .ice-cream-li::before{
        left: 12px;
        top: -120px;
    }
    .ice-coffee-li::before{
        top: -120px;
        left: 12px;
    }
    .milkshakes-li::before{ 
        top: -120px;
        left: 12px;
    }
    .shadow-ice-cream{
        top: -108px;
    }
    .shadowiice-coffee{
        top: -108px;
    }
    .shadow-milkshakes{
        top: -108px;
    }
}
@media screen and (min-width: 1200px) {
    .container-products-conttainer {
        margin: 0 auto;
    }
    .products{
        background-image: url(../images/background/background-desktop.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .product-label{
        padding-bottom: 303px;
    }
    .arrow-svg{
        margin-bottom: 60px;
    }
    .h2products{
        font-size: 36px;
        line-height: 1.24;
    }
    .ice-cream-li::before{
        content: '';
        width: 302px;
        height: 302px;
        position: absolute;
        top: -183px;
        left: 34px;
        background-image: url(../images/products/ice-cream-desktop.png);
    }
    .products-button{
        margin-bottom: 60px;
    }
    .ice-coffee-li::before{
        background-image: url(../images/products/ice-coffee-desktop.png);
        width: 302px;
        height: 302px;
        position: absolute;
        top: -183px;
        left: 34px;
    }
    .milkshakes-li::before{ 
        background-image: url(../images/products/milkshakes-desktop.png);
        width: 302px;
        height: 302px;
        position: absolute;
        top: -183px;
        left: 34px;
    }
    .products-ul{
        display: flex;
        flex-direction: row;
        gap: 29px;
        border-radius: 24px;
    }
    .products-ul li{
        width: 370px;
        // height: 536px;
    }
    .ice-cream-p{
        margin-top: 66px;
        margin-bottom: 58px;
        margin-right: 63px;
        margin-left: 61px;
        width: 246px;
    }
    .ice-coffee-p {
        margin-top: 66px;
        margin-bottom: 58px;
        margin-right: 64px;
        margin-left: 64px;
        width: 246px;
    }
    .milkshakes-p{
        margin-top: 66px;
        margin-bottom: 58px;
        margin-right: 64px;
        margin-left: 64px;
        width: 246px;
    }
    .products-ul button{
        margin-bottom: 60px;
    }
    .milkshakes-h3{
        margin-top: 165px;
    }
    .ice-coffee-h3{
        margin-top: 165px;
    }
    .ice-cream-h3{
        margin-top: 165px;
    }
    .products-ul li p {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.75;
        letter-spacing: 0.04em;
    }
    .products-ul li h3 {
        font-size: 30px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.04em;
    }
    label{
        font-size: 30px;
        font-weight: 800;
        line-height: 1.2;
        letter-spacing: 0.04em;
    }
    label .products{
        font-size: 36px;
        font-weight: 400;
        line-height: 1.25;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
    .shadow-ice-cream{
        width: 302px;
        height: 302px;
        position: absolute;
        top: -167px;
        left: 34px;
    }
    .shadowiice-coffee{
        width: 302px;
        height: 302px;
        position: absolute;
        top: -167px;
        left: 34px;
    }
    .shadow-milkshakes{
        width: 302px;
        height: 302px;
        position: absolute;
        top: -167px;
        left: 34px;
    }
}
// media
// media 2x
@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-width: 320px) {
    .products {
        background-image: url(../images/background/background-mobile@2x.png);
        }
        .ice-cream-li::before{
            background-image: url(../images/products/ice-cream-mob+tab@2x.png);
        }
        .ice-coffee-li::before{
            background-image: url(../images/products/ice-coffee-mob+tab@2x.png);
        }
        .milkshakes-li::before{
            background-image: url(../images/products/milkshakes-mob+tab@2x.png);
        }
}
@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-width: 768px) {
    .products {
        background-image: url(../images/background/background-tablet@2x.png)
        }
}
@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-width: 1200px) {
    .products {background-image: url(../images/background/background-desktop@2x.png);
        }
        .ice-coffee-li::before{
            background-image: url(../images/products/ice-coffee-desktop@2x.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .milkshakes-li::before{ 
            background-image: url(../images/products/milkshakes-desktop@2x.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .ice-cream-li::before{
            background-image: url(../images/products/ice-cream-desktop@2x.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
}
// media 2x