.products{
    background-image: url(../images/background/background-mobile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 767px;
    margin: 0 auto;
}
.containerk {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
.product-label{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    padding-top: 61px;
    padding-bottom: 148px;
}
.products-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 168px;
    border-radius: 24px;
    position: relative;
    padding-bottom: 60px;
}
.products-ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 24px;
    width: 85vw;
}
.milkshakes-h3{
    margin-top: 123px;
}
.ice-coffee-h3{
    margin-top: 123px;
}
.ice-cream-h3{
    margin-top: 123px;
}
.ice-coffee-p {
    margin-top: 40px;
    margin-bottom: 61px;
    margin-right: 40px;
    margin-left: 40px;
    width: 200px;
}
.ice-cream-p{
    margin-top: 40px;
    margin-bottom: 109px;
    margin-right: 40px;
    margin-left: 40px;
    width: 200px;
}
.milkshakes-p{
    margin-top: 40px;
    margin-bottom: 81px;
    margin-right: 40px;
    margin-left: 40px;
    width: 200px;
}
// fonts
.products-ul li p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.78;
    letter-spacing: 0.04em;
    text-align: center;    
    color: var(--dark-txt-color);
}
.products-ul li h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--dark-txt-color);
}
label{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: center;
    color: var(--dark-txt-color);
}
label .products{
    font-family: 'Seymour One', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--dark-txt-color);
}
// fonts
.ice-cream-li {
    background-color: var(--product-first-color);
}
.ice-coffee-li{
    background-color: var(--product-second-color);
}
.milkshakes-li{
    background-color: var(--product-third-color);
}
.ice-cream-h3::after{
    content: '';
    background-image: url(../images/products/ice-cream-desktop.png);
}
.ice-coffee-h3::after{
    content: '';
    background-image: url(../images/products/ice-cream-desktop.png);
}
.milkshakes-h3::after{
    content: '';
    background-image: url(../images/products/ice-cream-desktop.png);
}
.label{
    display: flex;
    align-items: center;
    justify-content: center;
}
// buttons
.ice-cream-button{
    background-color: transparent;
    border: none;
}
.ice-coffee-button{
    background-color: transparent;
    border: none;
}
.milkshakes-button{
    background-color: transparent;
    border: none;
}
.products-ul button{
    margin-bottom: 24px;
}
// buttons
// before
.ice-cream-li::before{
    content: '';
    background-image: url(../images/products/ice-coffee-mob+tab.png);
}
// before




// media
@media screen and (min-width: 480px) {
    .containerk{
        margin: 0 auto;
    }
    .products-ul li{
        width: 320px;
    }
    .ice-coffee-p {
        margin-top: 40px;
        margin-bottom: 69px;
        margin-right: 60px;
        margin-left: 60px;
        width: 200px;
    }
    .ice-cream-p{
        margin-top: 40px;
        margin-bottom: 114px;
        margin-right: 60px;
        margin-left: 60px;
        width: 200px;
    }
    .milkshakes-p{
        margin-top: 40px;
        margin-bottom: 89px;
        margin-right: 70px;
        margin-left: 70px;
        width: 200px;
    }
    .milkshakes-h3{
        margin-top: 126px;
    }
    .ice-coffee-h3{
        margin-top: 126px;
    }
    .ice-cream-h3{
        margin-top: 126px;
    }
}
@media screen and (min-width: 768px) {
    .containerk {
        padding-left: 32px;
        padding-right: 32px;
        margin: 0 auto;
    }
    .products{
        background-image: url(../images/background/background-tablet.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .products-ul{
        display: flex;
        flex-direction: row;
        gap: 16px;
        border-radius: 16px;
    }
    .products-ul li{
        width: 224px;
        height: 428px;
    }
    .ice-coffee-p {
        margin-top: 40px;
        margin-bottom: 58px;
        margin-right: 26px;
        margin-left: 26px;
        width: 172px;
    }
    .ice-cream-p{
        margin-top: 40px;
        margin-bottom: 89px;
        margin-right: 26px;
        margin-left: 26px;
        width: 172px;
    }
    .milkshakes-p{
        margin-top: 40px;
        margin-bottom: 83px;
        margin-right: 26px;
        margin-left: 26px;
        width: 172px;
    }
    .products-ul button{
        margin-bottom: 20px;
    }
    .milkshakes-h3{
        margin-top: 108px;
    }
    .ice-coffee-h3{
        margin-top: 108px;
    }
    .ice-cream-h3{
        margin-top: 108px;
    }
}
@media screen and (min-width: 1200px) {
    .containerk {
        margin: 0 auto;
        padding-left: 16px;
        padding-right: 16px;
    }
    .products{
        background-image: url(../images/background/background-desktop.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-left: 16px;
        padding-right: 16px;
    }
    .products-ul{
        display: flex;
        flex-direction: row;
        gap: 29px;
        border-radius: 24px;
    }
    .products-ul li{
        width: 370px;
        height: 536px;
    }
    .ice-cream-p{
        margin-top: 66px;
        margin-bottom: 58px;
        margin-right: 63px;
        margin-left: 61px;
        width: 246px;
    }
    .ice-coffee-p {
        margin-top: 66px;
        margin-bottom: 58px;
        margin-right: 64px;
        margin-left: 64px;
        width: 246px;
    }
    .milkshakes-p{
        margin-top: 66px;
        margin-bottom: 58px;
        margin-right: 64px;
        margin-left: 64px;
        width: 246px;
    }
    .products-ul button{
        margin-bottom: 67px;
    }
    .milkshakes-h3{
        margin-top: 165px;
    }
    .ice-coffee-h3{
        margin-top: 165px;
    }
    .ice-cream-h3{
        margin-top: 165px;
    }
}
// media
// media 2x
@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-width: 320px) {
    .products {background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/background/background-mobile@2x.jpg);
        }
}
@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-width: 768px) {
    .products {background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/background/background-tablet@2x.jpg);
        }
}
@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-width: 1200px) {
    .products {background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/background/background-desktop@2x.jpg);
        }
}
// media 2x