<section class="section about">
  <div class="container about-container">
    <label class="about-label"> TRADITION AND LOVE </label>
    <h2 class="about-title">HOW IT’S MADE?</h2>

    <div class="about-wrapper-img">
      <img
        src="./images/about/cow-mobile.png"
        alt="Сow on the field"
        class="about-img"
      />
    </div>
    <div class="about-description">
      <p class="about-description-text first-paragraph">
        Ice is a place where you will become not only a little happier, but also
        healthier. Health is the main value for us, and we follow it when
        creating our handmade desserts.
      </p>
      <p class="about-description-text second-paragraph">
        We use traditional recipes and 100% natural ingredients. Our products
        are so natural that they can be given to children from the age of three
        years. Sweets lovers can expect 55 types of ice cream, 15 types of
        coffee and 23 milkshakes.
      </p>
      <p class="about-description-text third-paragraph">
        This is enough to choose ice cream and coffee for any mood!
      </p>
      <button class="read-more-btn" type="button">Read more &#8250;</button>
    </div>

    <div class="about-farm">
      <ul class="about-farm-list">
        <li class="about-farm-item">
          <svg class="about-farm-svg">
            <use href="./images/icons/sprite.svg#icon-cow-icon"></use>
          </svg>
          <p class="about-number">721</p>
          <p class="about-farm-desc">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="about-farm-item">
          <svg class="about-farm-svg">
            <use href="./images/icons/sprite.svg#icon-weight-icon"></use>
          </svg>
          <p class="about-number">16KG</p>
          <p class="about-farm-desc">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="about-farm-item">
          <svg class="about-farm-svg">
            <use href="./images/icons/sprite.svg#icon-ice-cream-icon"></use>
          </svg>
          <p class="about-number">84</p>
          <p class="about-farm-desc">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
