<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-item first-item">
        <p data-digits-couter class="advantages-numbers">721</p>
        <p class="advantages-txt">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item second-item">
        <p class="advantages-numbers"><span data-digits-couter>16</span>kg</p>
        <p class="advantages-txt">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item third-item">
        <p data-digits-couter class="advantages-numbers">84</p>
        <p class="advantages-txt">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
