<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-item first-item">
        <span class="advantages-numbers">721</span>
        <p class="advantages-txt">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item second-item">
        <span class="advantages-numbers">16kg</span>
        <p class="advantages-txt">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item third-item">
        <span class="advantages-numbers">84</span>
        <p class="advantages-txt">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
