<section class="customer-reviews section">
  <h2 class="visually-hidden">customer-reviews</h2>
  <!-- Slider main container -->
  <div class="swiper container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img
          class="photo-emily"
          src="./images/customer-reviews/customer-foto1.png"
          alt="photo Emily"
        />
        <p class="review-text">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="review-name">Emily, Los Angeles</p>
      </div>
      <div class="swiper-slide">
        <img
          class="photo-emily"
          src="./images/customer-reviews/customer-foto2.png"
          alt="photo Bryan"
        />
        <p class="review-text">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
        <p class="review-name">Bryan, New-York</p>
      </div>
      <div class="swiper-slide">
        <img
          class="photo-emily"
          src="./images/customer-reviews/customer-foto3.png"
          alt="photo Diana"
        />
        <p class="review-text">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
        <p class="review-name">Diana, Chicago</p>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  </div>
</section>
