<section class="customer-reviews section">
  <h2 class="visually-hidden">customer-reviews</h2>
  <div class="swiper container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          class="photo-emily"
          srcset="
            ./images/customer-reviews/customer-foto1.png    1x,
            ./images/customer-reviews/customer-foto1@2x.png 2x
          "
          src="./images/customer-reviews/customer-foto1.png"
          alt="photo Emily"
        />
        <p class="review-text">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="review-name">Emily, Los Angeles</p>
      </div>
      <div class="swiper-slide">
        <img
          srcset="
            ./images/customer-reviews/customer-foto2.png    1x,
            ./images/customer-reviews/customer-foto2@2x.png 2x
          "
          class="photo-emily"
          src="./images/customer-reviews/customer-foto2.png"
          alt="photo Bryan"
        />
        <p class="review-text">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
        <p class="review-name">Bryan, New-York</p>
      </div>
      <div class="swiper-slide">
        <img
          srcset="
            ./images/customer-reviews/customer-foto3.png    1x,
            ./images/customer-reviews/customer-foto3@2x.png 2x
          "
          class="photo-emily"
          src="./images/customer-reviews/customer-foto3.png"
          alt="photo Diana"
        />
        <p class="review-text">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
        <p class="review-name">Diana, Chicago</p>
      </div>
      <div class="swiper-slide">
        <img
          srcset="
            ./images/customer-reviews/customer-foto4.png    1x,
            ./images/customer-reviews/customer-foto4@2x.png 2x
          "
          class="photo-emily"
          src="./images/customer-reviews/customer-foto4.png"
          alt="photo cat"
        />
        <p class="review-text">...MMMMMM mrrr... mrrr..</p>
        <p class="review-name">Cat, (Asia, Europe, America)</p>
      </div>
      <div class="swiper-slide">
        <img
          srcset="
            ./images/customer-reviews/customer-foto5.png    1x,
            ./images/customer-reviews/customer-foto5@2x.png 2x
          "
          class="photo-emily"
          src="./images/customer-reviews/customer-foto5.png"
          alt="photo cat Tom"
        />
        <p class="review-text">It's much tastier than a mouse!!!</p>
        <p class="review-name">Том, Hollywood USA</p>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
