<footer class="end">
    <ul class="end-title">
        <li class="end-title-list">
            <p class="end-title-first">homemade ice cream made </p>
            <p class="end-title-second">with passion</p>
        </li>
    </ul>
    <ul class="end-social">
        <li class="end-social-list">
            <a href="https://github.com/" class="icon-footer">
                <svg class="icon" width="34px" height="34px" >
                    <use href="/src/images/icons/sprite.svg#github-icon.svg"></use>
                </svg>
            </a>
        </li>
        <li class="end-social-list">
            <a href="https://web.telegram.org/" class="icon-footer">
                <svg class="icon" width="34px" height="34px" >
                    <use href="/src/images/icons/sprite.svg#telegram-icon.svg"></use>
                </svg>
            </a>
        </li>
        <li class="end-social-list">
            <a href="https://www.facebook.com/" class="icon-footer">
                <svg class="icon" width="34px" height="34px" >
                    <use href="/src/images/icons/sprite.svg#facebook-icon.svg"></use>
                </svg>
            </a>
        </li>
    </ul>
    <ul class="end-contact">
        <li><p class="end-contact-text">Feel free to contact</p></li>
        <li class="end-contact-number"><a href="tel:+610383766284" class="link phone">+61 (0) 383 766 284</a></li>
    </ul>
    <p> &#169; 2022 - IceCream. All Rights Reserved. </p>
</footer>