<div class="backdrop is-hidden backdrop-buy-now" header-modal>
  <div class="buy-now-modal">
    <button type="button" class="buy-now-modal__close-btn" header-modal-close>
      <svg width="20" height="20">
        <use href="/src/images/icons/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <p class="buy-now-modal_title">Buy now</p>
    <ul class="buy-now-modal_list">
      <li class="buy-now-modal__item buy-now-modal__cream">
        <p class="buy-now-modal_product-title">ice cream</p>
      </li>
      <li class="buy-now-modal__item buy-now-modal__coffee">
        <p class="buy-now-modal_product-title">ice coffee</p>
      </li>
      <li class="buy-now-modal__item buy-now-modal__milkshake">
        <p class="buy-now-modal_product-title">milkshake</p>
      </li>
    </ul>
    <form class="buy-now-modal__form form">
      <label class="form__label">
        <input
          class="form__input"
          type="text"
          name="user-name"
          placeholder="Name"
          required
        />
      </label>
      <label class="form__label">
        <input
          class="form__input"
          type="tel"
          name="user-phone-number"
          placeholder="Phone"
          required
        />
      </label>
      <label class="form__label-textare">
        <textarea
          class="form__textarea form__input"
          name="commentary"
          placeholder="Comment"
        ></textarea>
      </label>
      <button type="submit" class="form__btn btn btn--fill">Submit</button>
    </form>
  </div>
</div>
