<div class="backdrop is-hidden backdrop-buy-now" data-header-modal>
  <div class="buy-now-modal">
    <button
      type="button"
      class="buy-now-modal__close-btn"
      data-header-modal-close
    >
      <svg width="20" height="20">
        <use href="/src/images/icons/sprite.svg#icon-cross"></use>
      </svg>
    </button>

    <form class="buy-now-modal__form form">
      <p class="buy-now-modal_title">Buy now</p>
      <ul class="buy-now-modal_list">
        <li class="buy-now-modal__item">
          <label class="buy-now-modal_product-title"
            ><input
              class="buy-now-modal_product-input"
              type="checkbox"
              value="1"
              name="ice cream"
            /><span class="buy-now-modal__variant buy-now-modal__cream"
              >ice cream</span
            ></label
          >
        </li>
        <li class="buy-now-modal__item">
          <label class="buy-now-modal_product-title"
            ><input
              class="buy-now-modal_product-input"
              type="checkbox"
              value="2"
              name="ice coffee"
            /><span class="buy-now-modal__variant buy-now-modal__coffee"
              >ice coffee</span
            ></label
          >
        </li>
        <li class="buy-now-modal__item">
          <label class="buy-now-modal_product-title"
            ><input
              class="buy-now-modal_product-input"
              type="checkbox"
              value="3"
              name="milkshake"
            /><span class="buy-now-modal__variant buy-now-modal__milkshake"
              >milkshake</span
            ></label
          >
        </li>
      </ul>
      <label class="form__label">
        <input
          class="form__input input"
          type="text"
          name="user-name"
          placeholder="Name"
          required
        />
      </label>
      <label class="form__label">
        <input
          class="form__input input"
          type="tel"
          name="user-phone-number"
          placeholder="Phone"
          required
        />
      </label>
      <label class="form__label-textare">
        <textarea
          class="form__textarea form__input"
          name="commentary"
          placeholder="Comment"
        ></textarea>
      </label>
      <button type="submit" class="form__btn btn btn--fill button" disabled>
        Submit
      </button>
    </form>
  </div>
</div>
