<header class="header">
  <div class="container header-container">
    <a href="/src/index.html" class="header-logo">
      <svg class="header-icon">
        <use href="/src/images/icons/sprite.svg#icon-logo-icon"></use>
      </svg>
      <p class="logo-text">ce</p>
    </a>
    <button
      type="button"
      class="mobile-menu-open js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="menu-burger-icon">
        <use href="/src/images/icons/sprite.svg#icon-menu-icon"></use>
      </svg>
    </button>
    <nav class="navigation">
      <ul class="navigation-list">
        <li class="navigation-item">
          <a href="#" class="navigation-link">Home</a>
        </li>
        <li class="navigation-item">
          <a href="#" class="navigation-link">How it’s made?</a>
        </li>
        <li class="navigation-item">
          <a href="#" class="navigation-link">Our products</a>
        </li>
        <li class="navigation-item">
          <a href="#" class="navigation-link">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="header-button">
      Buy now
      <svg class="header-button-icon">
        <use href="#"></use>
      </svg>
    </button>
  </div>
  <div class="mobile-menu js-menu-container">
    <div class="container mobile-menu-container">
      <div class="mobile-menu-header">
        <a href="/src/index.html" class="header-logo">
          <svg class="header-icon">
            <use href="/src/images/icons/sprite.svg#icon-logo-icon"></use>
          </svg>
          <p class="logo-text">ce</p>
        </a>
        <button type="button" class="modal-burger-button js-close-menu">
          <svg class="modal-burger-icon">
            <use href="#"></use>
          </svg>
        </button>
      </div>
      <ul class="mobile-menu-nav">
        <li class="mobile-menu-navigation-item">
          <a href="#" class="mobile-menu-navigation-link">Home</a>
        </li>
        <li class="mobile-menu-navigation-item">
          <a href="#" class="mobile-menu-navigation-link">How it’s made?</a>
        </li>
        <li class="mobile-menu-navigation-item">
          <a href="#" class="mobile-menu-navigation-link">Our products</a>
        </li>
        <li class="mobile-menu-navigation-item">
          <a href="#" class="mobile-menu-navigation-link">Contact</a>
        </li>
      </ul>
      <div class="mobile-menu-footer">
        <button type="button" class="mobile-menu-button">
          Buy now
          <svg class="header-button-icon">
            <use href="#"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <script src="/src/js/mobile-menu.js"></script>
</header>
