<section class="hero">
  <div class="container">
    <h1 class="hero-header">
      Ice Cream Made with<span class="hero-header-word">Passion</span>
    </h1>
    <div class="hero-button-cont">
      <button id="products" class="hero-button products-button">
        Products
      </button>
      <button id="how" class="hero-button how-button">How it's made?</button>
    </div>
    <div class="hero-info-cont">
      <div><span class="info-cont-number">23</span>cafes</div>
      <div><span class="info-cont-number">16</span>trucks</div>
    </div>
    <div class="hero-2ndinfo-cont">
      <div class="plate-image">
        <img
          srcset="
            ./images/hero/ice-cream-plate-desktop.png    1x,
            ./images/hero/ice-cream-plate-desktop@2x.png 2x
          "
          src="./images/hero/ice-cream-plate-tablet.png"
          alt="Ice Cream Plate"
        />
      </div>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit ipsa,
        quis quae vel maiores neque!
      </p>
    </div>
    <div class="hero-ice-cream-img">
      <img
        srcset="
          ./images/hero/ice-cream-desktop.png    1x,
          ./images/hero/ice-cream-desktop@2x.png 2x
        "
        src="./images/hero/ice-cream-desktop.png"
        alt="Main Ice Cream Image"
        class="hero-ice-cream"
      />
    </div>
  </div>
</section>
