<section class="hero">
  <div class="container">
    <h1 class="hero-header">
      Ice Cream Made with<span class="hero-header-word">Passion</span>
    </h1>
    <ul class="hero-button-list">
      <li class="hero-button-item hero-item-products">
        <a class="hero-button-link hero-link-products" href="#products"
          >Products</a
        >
      </li>
      <li class="hero-button-item hero-item-how">
        <a class="hero-button-link hero-link-how" href="#how">How it's made?</a>
      </li>
    </ul>
    <div class="hero-info-cont">
      <div><span class="hero-info-cont-number">23</span>cafes</div>
      <div><span class="hero-info-cont-number">16</span>trucks</div>
    </div>
    <div class="hero-2ndinfo-cont">
      <div class="hero-plate-image">
        <img
          srcset="
            ./images/hero/ice-cream-plate-desktop.png    1x,
            ./images/hero/ice-cream-plate-desktop@2x.png 2x
          "
          src="./images/hero/ice-cream-plate-tablet.png"
          alt="Ice Cream Plate"
        />
      </div>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit ipsa,
        quis quae vel maiores neque!
      </p>
    </div>
    <div class="hero-ice-cream-img">
      <img
        srcset="
          ./images/hero/ice-cream-desktop.png    1x,
          ./images/hero/ice-cream-desktop@2x.png 2x
        "
        src="./images/hero/ice-cream-desktop.png"
        alt="Main Ice Cream Image"
        class="hero-ice-cream"
      />
    </div>
  </div>
</section>
