<section id="hero" class="hero">
  <div class="container">
    <div class="hero-title-cont">
      <h1 class="hero-header">
        Ice Cream Made with<span class="hero-header-word">Passion</span>
      </h1>
    </div>
    <ul class="hero-button-list">
      <li class="hero-button-item hero-item-products">
        <a class="hero-link-products" href="#products">Products</a>
      </li>
      <li class="hero-button-item hero-item-how">
        <a class="hero-link-how" href="#how">How it's made?</a>
      </li>
    </ul>
    <div class="hero-info-cont">
      <div class="hero-info-cont-wrap">
        <span class="hero-info-cont-number">16</span>cafes
      </div>
      <div class="hero-info-cont-wrap">
        <span class="hero-info-cont-number">23</span>food trucks
      </div>
    </div>
    <div class="hero-2ndinfo-cont">
      <div class="hero-2ndinfo-img">
        <img class="hero-plate-image"
          srcset="
          ./images/hero/ice-cream-plate-desktop.png    1x,
          ./images/hero/ice-cream-plate-desktop@2x.png 2x
          "
          src="./images/hero/ice-cream-plate-desktop.png"
          alt="Ice Cream Plate"
        />
      </div>
      <div class="hero-2ndinfo-cont-text"> 
        <p class="hero-2ndinfo-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        </p>
      </div>
     
    </div>
    </div>
    
  </div>

    <img
      class="hero-ice-cream-img"
      srcset="
        ./images/hero/ice-cream-desktop.png    1x,
        ./images/hero/ice-cream-desktop@2x.png 2x
      "
      src="./images/hero/ice-cream-desktop.png"
      alt="Main Ice Cream Image"
      class="hero-ice-cream"
    />
  </div>
</section>
