<div class="modal1 ice-cream" products-data-modal="ice-cream">
    <svg class="modal__cross js-modal-close-products" width="11px" height="11px">
        <use href="./images/icons/sprite.svg#icon-cross"></use>
   </svg>
   <h3 class="products-modal-title">Chololate icecream</h3>
   <div class="products-logo-background">
    <img class="products-logo" srcset="./images/modal-ingredients/chololate-ice-cream.png x1,
    ./images/modal-ingredients/chololate-ice-cream@2x.png x2"
      src="./images//modal-ingredients/chololate-ice-cream.png"
      alt="chololate ice cream"
      width="132px"
    />
  </div>
  <ul class="products-gram-list">
    <li class="products-gram-item">
      <div class="products-grams-container">320</div>
      <span class="products-gram-item-span">kcal</span>
    </li>
    <li class="products-gram-item">
      <div class="products-grams-container">4g</div>
      <span class="products-gram-item-span">Prote...</span>
    </li>
    <li class="products-gram-item">
      <div class="products-grams-container">8,2g</div>
      <span class="products-gram-item-span">Fats</span>
    </li>
    <li class="products-gram-item">
      <div class="products-grams-container">40,4g</div>
      <span class="products-gram-item-span">Carbs</span>
    </li>
  </ul>
  <h3 class="products-ingredients-title">Ingredients</h3>
  <ul class="products-ingredients-list">
    <li class="products-ingredients-item">
      <span class="products-ingredients-span">Milk</span>
      <span class="products-ingredients-span">100ml</span>
    </li>
    <li class="products-ingredients-item">
      <span class="products-ingredients-span">Belgian chocolate</span>
      <span class="products-ingredients-span">20g</span>
    </li>
    <li class="products-ingredients-item">
      <span class="products-ingredients-span">Cream</span>
      <span class="products-ingredients-span">150 ml</span>
    </li>
    <li class="products-ingredients-item">
      <span class="products-ingredients-span">Cocoa powder</span>
      <span class="products-ingredients-span">30g</span>
    </li>
    <li class="products-ingredients-item">
      <span class="products-ingredients-span">Sugar</span>
      <span class="products-ingredients-span">40g</span>
    </li>
    <li class="products-ingredients-item">
      <span class="products-ingredients-span">Vanilla sugar</span>
      <span class="products-ingredients-span">10g</span>
    </li>
  </ul>
  <form class="products-form">
    <input class="products-input" type="text" placeholder="Name" name="name" />
    <input class="products-input" type="tel" placeholder="Phone" name="name" />
    <textarea
      class="products-comment-place"
      placeholder="Comment"
      name="name"
    ></textarea>
  </form>
  <button class="products-submit-modal-btn" type="button">Submit</button>
</div>

<div class="modal1 ice-coffe" products-data-modal="ice-coffe">
  <svg class="modal__cross js-modal-close-products" width="11px" height="11px">
    <use href="./images/icons/sprite.svg#icon-cross"></use>
  </svg>
  <h3 class="products-modal-title">Ice Coffe</h3>
  <div class="products-logo-background">
    <img
      class="products-logo"
      srcset="./images/products/ice-coffee-mob+tab.png x1,
    ./images/products/ice-coffee-mob+tab@2x.png x2"
      src="./images/products/ice-coffee-mob+tab.png"
      alt="chololate ice cream"
      width="132px"
    />
  </div>
  <ul class="products-gram-list">
    <li class="products-gram-item">
      <div class="products-grams-container">320</div>
      <span class="products-gram-item-span">kcal</span>
    </li>
    <li class="products-gram-item">
      <div class="products-grams-container">4g</div>
      <span class="products-gram-item-span">Prote...</span>
    </li>
    <li class="products-gram-item">
      <div class="products-grams-container">8,2g</div>
      <span class="products-gram-item-span">Fats</span>
    </li>
    <li class="products-gram-item">
      <div class="products-grams-container">40,4g</div>
      <span class="products-gram-item-span">Carbs</span>
    </li>
  </ul>
  <h3 class="products-ingredients-title">Ingredients</h3>
  <ul class="products-ingredients-list">
    <li class="products-ingredients-item">
      <span class="products-ingredients-span">Milk</span>
      <span class="products-ingredients-span">100ml</span>
    </li>
    <li class="products-ingredients-item">
      <span class="products-ingredients-span">Belgian chocolate</span>
      <span class="products-ingredients-span">20g</span>
    </li>
    <li class="products-ingredients-item">
      <span class="products-ingredients-span">Cream</span>
      <span class="products-ingredients-span">150 ml</span>
    </li>
    <li class="products-ingredients-item">
      <span class="products-ingredients-span">Cocoa powder</span>
      <span class="products-ingredients-span">30g</span>
    </li>
    <li class="products-ingredients-item">
      <span class="products-ingredients-span">Sugar</span>
      <span class="products-ingredients-span">40g</span>
    </li>
    <li class="products-ingredients-item">
      <span class="products-ingredients-span">Vanilla sugar</span>
      <span class="products-ingredients-span">10g</span>
    </li>
  </ul>
  <form class="products-form">
    <input class="products-input" type="text" placeholder="Name" name="name" />
    <input class="products-input" type="tel" placeholder="Phone" name="name" />
    <textarea
      class="products-comment-place"
      placeholder="Comment"
      name="name"
    ></textarea>
  </form>
  <button class="products-submit-modal-btn" type="button">Submit</button>
</div>

<div class="modal1 milkshake" products-data-modal="milkshake">
  <svg class="modal__cross js-modal-close-products" width="11px" height="11px">
    <use href="./images/icons/sprite.svg#icon-cross"></use>
  </svg>
  <h3 class="products-modal-title">Milkshakes</h3>
  <div class="products-logo-background">
    <img
      class="products-logo"
      srcset="./images/products/milkshakes-mob+tab.png x1,
    ./images/products/milkshakes-mob+tab@2x.png x2"
      src="./images/products/milkshakes-mob+tab.png"
      alt="chololate ice cream"
      width="132px"
    />
  </div>
  <ul class="products-gram-list">
    <li class="products-gram-item">
      <div class="products-grams-container">320</div>
      <span class="products-gram-item-span">kcal</span>
    </li>
    <li class="products-gram-item">
      <div class="products-grams-container">4g</div>
      <span class="products-gram-item-span">Prote...</span>
    </li>
    <li class="products-gram-item">
      <div class="products-grams-container">8,2g</div>
      <span class="products-gram-item-span">Fats</span>
    </li>
    <li class="products-gram-item">
      <div class="products-grams-container">40,4g</div>
      <span class="products-gram-item-span">Carbs</span>
    </li>
  </ul>
  <h3 class="products-ingredients-title">Ingredients</h3>
  <ul class="products-ingredients-list">
    <li class="products-ingredients-item">
      <span class="products-ingredients-span">Milk</span>
      <span class="products-ingredients-span">100ml</span>
    </li>
    <li class="products-ingredients-item">
      <span class="products-ingredients-span">Belgian chocolate</span>
      <span class="products-ingredients-span">20g</span>
    </li>
    <li class="products-ingredients-item">
      <span class="products-ingredients-span">Cream</span>
      <span class="products-ingredients-span">150 ml</span>
    </li>
    <li class="products-ingredients-item">
      <span class="products-ingredients-span">Cocoa powder</span>
      <span class="products-ingredients-span">30g</span>
    </li>
    <li class="products-ingredients-item">
      <span class="products-ingredients-span">Sugar</span>
      <span class="products-ingredients-span">40g</span>
    </li>
    <li class="products-ingredients-item">
      <span class="products-ingredients-span">Vanilla sugar</span>
      <span class="products-ingredients-span">10g</span>
    </li>
  </ul>
  <form class="products-form">
    <input class="products-input" type="text" placeholder="Name" name="name" />
    <input class="products-input" type="tel" placeholder="Phone" name="name" />
    <textarea
      class="products-comment-place"
      placeholder="Comment"
      name="name"
    ></textarea>
  </form>
  <button class="products-submit-modal-btn" type="button">Submit</button>
</div>

<div class="overlay js-overlay-modal-products"></div>
<script src="./js/products-modal.js"></script>
