<section #products class="products">
    <div class="container-products-conttainer">
        <label class="product-label">100% NATURAL
            <h2 class="h2products">PRODUCTS</h2>
        </label>
        <ul class="products-ul">
            <li class="ice-cream-li">
                <h3 class="ice-cream-h3">ICE CREAM</h3>
                <p class="ice-cream-p">
                    Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
                </p>
                <svg class="arrow-svg">
                    <use href="./images/icons/sprite.svg#icon-arrow"></use>
                </svg>
            <li class="ice-coffee-li">
                <h3 class="ice-coffee-h3">ICE COFFEE</h3>
                <p class="ice-coffee-p">
                    Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers
                </p>
                <svg class="arrow-svg">
                    <use href="./images/icons/sprite.svg#icon-arrow"></use>
                </svg>
            </li>
            <li class="milkshakes-li">
                <h3 class="milkshakes-h3">MILKSHAKES</h3>
                <p class="milkshakes-p">
                    Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice
                </p>
                    <svg class="arrow-svg">
                        <use href="./images/icons/sprite.svg#icon-arrow"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>