<section class="contacts-section section">
  <div id="contacts" class="contacts-container container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts-list list">
      <li class="contacts-list-item">
        <span class="contacts-category-office">CAFE</span>
        <h3 class="contacts-text">Chicago</h3>
        <a class="contacts-address link" href=""
          >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >
        <ul class="contacts-time-list list">
          <li class="contacts-time-item">
            <p class="contacts-text">Monday - Friday</p>
            <span class="contacts-time-item">06:00 AM - 10:00 PM</span>
          </li>
          <li class="contacts-time-item">
            <p class="contacts-text">Saturday - Sunday</p>
            <span class="contacts-time-item">08:00 AM - 16:00 PM</span>
          </li>
        </ul>
        <ul class="list">
          <li class="contacts-contact-item">
            <a class="contacts-contact-link link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts-contact-item">
            <a
              class="contacts-contact-link link"
              href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts-list-item">
        <span class="contacts-category-office">FOODTRUCK</span>
        <h3 class="contacts-text">Los Angeles</h3>
        <a class="contacts-address link" href=""
          >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
        >
        <ul class="contacts-time-list list">
          <li class="contacts-time-item">
            <p class="contacts-text">Monday - Friday</p>
            <span class="contacts-time-item">06:00 AM - 10:00 PM</span>
          </li>
          <li class="contacts-time-item">
            <p class="contacts-text">Saturday - Sunday</p>
            <span class="contacts-time-item">08:00 AM - 16:00 PM</span>
          </li>
        </ul>
        <ul class="list">
          <li class="contacts-contact-item">
            <a class="contacts-contact-link link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts-contact-item">
            <a
              class="contacts-contact-link link"
              href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts-list-item">
        <span class="contacts-category-office">CAFE</span>
        <h3 class="contacts-text">New York</h3>
        <a class="contacts-address link" href="">
          726 Sterling Pl, Brooklyn, NY 11222, USA
        </a>
        <ul class="contacts-time-list list">
          <li class="contacts-time-item">
            <p class="contacts-text">Monday - Friday</p>
            <span class="contacts-time-item">06:00 AM - 10:00 PM</span>
          </li>
          <li class="contacts-time-item">
            <p class="contacts-text">Saturday - Sunday</p>
            <span class="contacts-time-item">08:00 AM - 16:00 PM</span>
          </li>
        </ul>
        <ul class="list">
          <li class="contacts-contact-item">
            <a class="contacts-contact-link link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts-contact-item">
            <a
              class="contacts-contact-link link"
              href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts-list-btn list">
      <li class="item">
        <button
          type="button"
          class="contacts-item-btn locations-btn"
          data-modal-open
        >
          Our Locations
          <svg class="contacts-btn-icon" height="12" width="12">
            <use href="./images/icons/sprite.svg#icon-sign"></use>
          </svg>
        </button>
      </li>
      <li class="item">
        <button
          type="button"
          class="contacts-item-btn franchise-btn"
          data-modal-open
        >
          Franchise
          <svg class="contacts-btn-icon" height="12" width="12">
            <use href="./images/icons/sprite.svg#icon-sign"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
